/* src/index.css */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Garante que o site ocupe 100% da tela sem bordas pretas */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6; /* Fundo cinza claro oficial */
  overflow-x: hidden; /* Evita barra de rolagem horizontal desnecessária */
}